<!DOCTYPE html>
<html class="no-js" lang="zh">
<head>
<meta charset="utf-8">
<title>新能源汽车 实时调度系统</title>
<meta name="description" content="新能源汽车 实时调度系统。" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="application-name" content="新能源汽车 实时调度系统" />
<meta name="msapplication-tooltip" content="新能源汽车 实时调度系统" />
<meta name="msapplication-starturl" content="新能源汽车 实时调度系统" />
<meta name="msapplication-TileImage" content="" />
<meta name="msapplication-TileColor" content="#0088ff" />
<meta name="renderer" content="webkit" />
<link href="Public/css/global.css" rel="stylesheet" />
<link href="Public/css/home.css" rel="stylesheet" />
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
</head>
<body class="homepage">
<div class="homepage-container" style="z-index:999; display:block">
  <header class="homepage-header">
    <h2>新能源汽车实时调度系统</h2>
    <div class="header-account"><span class=""><a href="#">修改密码</a>&nbsp;&nbsp;<a href="#">退出</a></span> </div>
  </header>
  <div class="map-container">
    <div class="pop-b"> <a class="close">X</a>
      <h2>浙A23243A    行驶中</h2>
      <div class="state">
        <ul>
          <li><span>上报时间：</span><em>2016-01-02 12：13：34</em></li>
          <li><span>车速：</span><em>12km/h</em></li>
          <li><span>VIN码：</span><em>ljds23u49832798</em></li>
        </ul>
      </div>
      <div class="cz">
        <ul>
          <li class="cz1"><a  class="img">跟踪车辆</a><br>
            跟踪车辆</li>
          <li class="cz2"><a  class="img">历史轨迹</a><br>
            历史轨迹</li>
          <li class="cz3"><a  class="img">抓拍车辆</a><br>
            抓拍车辆</li>
          <li class="cz4"><a  class="img">查看图片</a><br>
            查看图片</li>
        </ul>
      </div>
      <div class="triangle-down2"></div>
      <div class="triangle-down3"></div>
    </div>
    <div id="map_container"></div>
    <div class="map-navbar group">
      <div class="module-locate map_search">
        <div class="map-block-input dark search-bar group"> <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
          <input type="search"  placeholder="车牌号" class="search-input tt-input" id="search_input" style="position: relative; vertical-align: top; background-color: transparent;">
          <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: block; right: auto;">
          <div class="tt-dataset-eleme-dataset">
          <!--  <span class="tt-suggestion" style="display:block"> -->
          <span class="tt-suggestion" style="display:none">
            <div class="tt-suggestion tt-cursor ">
              <div class=" tt-autocomplete" style=" white-space:normal"><strong>浙A</strong>浙AQ8995</div>
            </div>
            <div class="tt-suggestion">
              <div class=" tt-autocomplete" style=" white-space:normal">22</div>
            </div>
            <div class="tt-suggestion">
              <div class=" tt-autocomplete" style=" white-space:normal">33</div>
            </div>
            <div class="tt-suggestion">
              <div class=" tt-autocomplete" style=" white-space:normal">44</div>
            </div>
            <div class="tt-suggestion">
              <div class=" tt-autocomplete" style=" white-space:normal">11</div>
            </div>
            <div class="tt-suggestion">
              <div class=" tt-autocomplete" style=" white-space:normal">22</div>
            </div>
            <div class="tt-suggestion">
              <div class=" tt-autocomplete" style=" white-space:normal">33</div>
            </div>
            <div class="tt-suggestion">
              <div class=" tt-autocomplete" style=" white-space:normal">44</div>
            </div>
            </span> </div>
          </span> </span> <a  href="#" class="glyph-search search-btn"><span>-</span></a> </div>
      </div>
    </div>
    <div class="map-sidebar">
      <div class="map-block module-result result_wrap">
        <div class="result-loading search_loader ui_hide"> <i class="icon-eleme-loader"></i>
          <p class="hint">搜索中……</p>
        </div>
        <div class="result-wrapper result_container">
          <div class="result-list search_results">
            <div class="result-block ui_current">
              <div class="marker ui_1"></div>
              <p class="result-name">杭州顺丰快递有限公司</p>
              <p class="result-address"> <span><a href="#">浙A23423Q</a><i class="blue">a</i></span> <span><a href="#">浙A23423Q</a><i class="red">b</i></span> <span><a href="#">浙A23423Q</a><i class="red">b</i></span> </p>
              <div class="clear"></div>
            </div>
            <div class="result-block">
              <div class="marker ui_2"></div>
              <p class="result-name">杭州顺丰快递有限公司</p>
              <p class="result-address"> <span><a href="#">浙A23423Q</a><i class="blue">a</i></span> <span><a href="#">浙A23423Q</a><i class="red">b</i></span> <span><a href="#">浙A23423Q</a><i class="red">b</i></span> </p>
              <div class="clear"></div>
            </div>
            <div class="result-block">
              <div class="marker ui_3"></div>
              <p class="result-name">杭州顺丰快递有限公司</p>
              <p class="result-address"> <span><a href="#">浙A23423Q</a><i class="blue">a</i></span> <span><a href="#">浙A23423Q</a><i class="red">b</i></span> <span><a href="#">浙A23423Q</a><i class="red">b</i></span> </p>
              <div class="clear"></div>
            </div>
            <div class="result-block">
              <div class="marker ui_4"></div>
              <p class="result-name">杭州顺丰快递有限公司</p>
              <p class="result-address"> <span><a href="#">浙A23423Q</a><i class="blue">a</i></span> <span><a href="#">浙A23423Q</a><i class="red">b</i></span> <span><a href="#">浙A23423Q</a><i class="red">b</i></span> </p>
              <div class="clear"></div>
            </div>
            <div class="result-pager result_pagination light-theme simple-pagination">
              <ul>
                <li class="active"><span class="current prev">&lt;</span></li>
                <li class="active"><span class="current">1</span></li>
                <li><a class="page-link" href="#page-2">2</a></li>
                <li><a class="page-link next" href="#page-2">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="map-block pin-wrapper">
        <div class="map-pin major_pin" style="position: relative;"></div>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="Public/js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="Public/js/qqmaps.js" />
<script type="text/javascript">
//alert("dddd");
/**
<foreach name="carlist" item="vo" >
var txt = {$vo.car_id}+"浙AQ83a25";
var speed = {$vo.Speed}+"123KM/H";
var longitude = {$vo.Longitude};
var latitude = {$vo.Latitude};
addmarker2map({$vo.Longitude}, latitude,txt, speed);
</foreach>
**/

</script>
</html>
